<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather app</title>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
      <div class="main-content">
            {{>header}}
            
            <p>This site was created by Varun . We used data from mapbox.com and darksky.net , get Live weather updates here</p>
                <p>{{des}}</p>


    <img src="https://www.w3schools.com/images/w3lynx_200.png" alt='about'/>
    </div>


    {{>footer}}
</body>
<script src="/js/app.js">
</script>
</html>